* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.main_yellow {
    width: 100%;
    height: 100%;   
    position: fixed;
    background-color: #F9D422;
}

.left_side_menu {
    width: 20%;
    height: 100%;
    position: fixed;
}

.studio_title {
    width: 100%;
    height: 10%;
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studio_title > img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    float: left;
    margin-right: 15%;
    object-fit: cover;
    
}

.studio_name {
    font-size: 3rem;
}

.main_menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

.main_menu > a {
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.main_menu > a:hover{
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.jobs_selected {
    font-size: 1.7rem;
    line-height: 3vmax;
    padding: 0 5% 0 5%;
    margin: 0 0 5% 15%;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.main_menu > a > .main_menu_content > * {
    vertical-align: middle;
}


.main_menu_content > img {
    margin: 0 20px 0 0;
}

.main_white {
    position: absolute;
    width: 79%;
    height: 95%;
    left: 20%;
    top: 0;
    bottom: 0;
    transform: translateY(2.5%);
    border-radius: 3% 0 0 3%;
    justify-content: center;
    background-color: #F3F7FD;
}

.top_div {
    width: 94%;
    height: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-flow: flex-start;
    justify-content: space-between;
}

.top_one_div{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: flex-start;
}

.top_one_div > input{
    width: 70%;
    height: 100%;
    border: none;
    padding: 0 2%;
    margin: 0;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
}

.notification_button {
    width: fit-content;
    height: 100%;
    margin: 0 1% 0 2%;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    border: 0;
}

.notification_button img {
    padding: 0 15px;
}

.setting_button {
    width: fit-content;
    height: 100%;
    margin: 0 1% 0 1%;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    border: 0;
}

.setting_button img {
    padding: 0 15px;
}

.filter_button {
    width: fit-content;
    height: 100%;
    margin: 0 2% 0 1%;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    border: 0;
}

.filter_button img {
    padding: 0 15px;
}

.post_job {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    background-color: #F9D422;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    border: 0;
    cursor: pointer;
}


.top_div > a {
    width: 12%;
    height: 100%;
}


.main_job_section {
    width: 94%;
    height: 76%;
    margin: 5% 3% 3% 3%;
}

.main_content_top {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 30px 0 10px 0;
}

.main_content hr {
    border: 1px solid black;
    margin: 0;
}

.job_listed {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    overflow-y: auto;
    margin-top: 40px;
    gap: 20px 20px;
    justify-content: space-between;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    padding: 1% 2%;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
}

.boxes h3{
    padding: 15px 0 15px 0;
    color: #F9D422;
}

.boxes p {
    padding: 5px 0 15px 0;
}


.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.box_top img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.boxes > a {
    margin-left: auto;
}

.promote_btn {
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 15px;
    background-color: #F9D422;
    padding: 10px 30px;
    cursor: pointer;
}

.job_section_title {
    width: 100%;
    height: 6%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* .job-option {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50px;
    color: black;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    background-color: white;
}

.job-option:hover {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    background-color: #F9D422;
} */

.job_option_btn {
    width: 10vw;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    color: black;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.job_option_btn:hover {
    width: 10vw;
    height: 100%;
    border: none;
    outline: none;
    background-color: #F9D422;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    color: black;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.main_image {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #747474;
    margin-top: 5%;
}

.text1 {
    font-size: 1.3rem;
    color: #747474;
    margin: 2% 0 0;

}

.main_image > img {
    width: 15rem;
}

.main_image > a {
    width: 12%;
    height: 100%;
    margin: 2% 0 0 0;
}

.post_job_2 {
    width: 100%;
    height: 3.1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    background-color: #F9D422;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.18);
    cursor: pointer;
}

#applied {
    background-color: #F9D422;
}
